html {
    font-size: 52.5%;
}

body{
    text-align: center;
    margin:0;
    font-weight: light;
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.05em;
 }

 /*=====================
        TYPOGRAPHY 
========================*/

h1{ 
    margin:0;
    font-family: 'Playfair Display', serif;
    font-size:3.6rem;
    font-weight:400;
    color:#143774;
}
strong {
    font-weight:700;
}
.subtitle {
    margin:0.2em 0 0;
    color:#1792d2;
    font-family: 'Ubuntu', sans-serif;
    font-size:2.1rem;
    font-weight:normal;
}
h2 {
    margin-top:0;
    font-family: 'Playfair Display', serif;
    font-size:3rem;
    font-weight:400;
    color:#143774;
}
h3{
    text-transform: uppercase;
    color: #143774;
    font-size:2.5rem;
    font-weight: bold;
    margin-top:0;
}
h4 {
    font-family: 'Playfair Display', serif;
    font-size:2rem;
    font-weight:400;
    color:#143774;
}
p{
    line-height: 1.5em;
    font-size: 1.8rem; 
}
.continue-txt {
    display:block;
    text-transform: uppercase;
    color: #1792D2;
    letter-spacing: 0.2em;
    font-size:1.4rem;
    font-weight: bold;
    margin: 1.5em 0;
    text-decoration: none;
}
.photo-txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size:1.4rem;
}

 /*=======================
        HEADER LAYOUT 
==========================*/

header{
    background:#f8f8f8;
    padding: 2em 0;
    margin-bottom: 40px;
    text-align:center;
}

.nav-list {
    padding:0;
    width: 270px;
    margin: 2em auto 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;  
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
    font-size:1.6rem;
    /* border: 1px solid magenta; */
 }
.nav-list-item{
    list-style:none;
    text-align: center;
    margin-bottom:1em;
 }
.nav-link{
    color:#707070;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #1792d2;
}
.current-page {
    padding-bottom: 0.25em;
    border-bottom: 2px solid grey;
}
.current-page:hover,
.current-page:focus {
    color:#707070;
}

/*=======================
        MAIN LAYOUT 
==========================*/


.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    width: 100%;
}
.main-article {
    text-align: left;
    padding-bottom: 3em;
}
.main-img {
    width: 100%;
    height:308px;
    object-fit: cover;
    object-position: 0 100%;
    margin-bottom: 1.5em;
}
article hr {
    border: none;
    border-top: 1px solid lightgray;
}
.article-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.sub-article {
    display:flex;
    justify-content: space-between;
    padding-bottom: 3em;
    text-align:left;
}
.col-left {
    width:30%;
}
.col-right{
    text-align:left;
    width:65%;
}
.article-img {
    width:100%;
    height: 242px;
    object-fit: cover;
    object-position: 50% 50%;
}

/*=======================
        SIDEBAR LAYOUT 
==========================*/

.sidebar{
    width: 100%;
}
.sidebar-box {
    border: 20px #EBEBEB solid;
    padding: 20px;
    text-align: left;
}
.sidebar-box-img {
    width:100%;
    /* height: 133px; */
    object-fit: cover;
    object-position: 0% 50%; 
}
.sidebar-txt {
    color: #143774;
    font-size: 1.5rem;
    margin:0;
    margin-top:1.5em;
}
/* .post {
    margin-top: 3em;
} */

/*=======================
        FOOTER LAYOUT 
==========================*/

footer {
    background: #143774;
    color:#fff;
    padding: 2em 0;
    font-size: 3em;
    font-weight: bold;
}
footer p {
    margin:0;
}
#date-copyright{
    font-weight: 200;
}

 /*=======================
       UTILITY CLASSES 
==========================*/

.img-left-aligned {
    object-position: 10% 50%;
}
.img-center-aligned {
    object-position: 50% 50%;
}
.accent-text {
    color: #1792D2;
    text-decoration: underline;
}

 /*=======================
       MEDIA QUERIES 
==========================*/

@media (min-width: 800px) {
    .container {
        flex-direction: row;
    }
    .nav-list {
        flex-direction: row;
    }
    main {
        width: 65%;
    }
    
    .sidebar {
        width: 30%;
    }
}



/* @media (max-width:1000px) {
    .container {
        flex-direction: column;
        align-items:center;
    }
    .nav-link{
        margin-left: 0;
    }
    .nav-list-item {
        margin-bottom: 1em;
    }
    .nav-list {
        flex-direction: column;
    }
    .site-title {
        text-align: center;
    }
    main {
        width: 100%;
    }
    .sidebar-box {
        display:none;
    }
} */